colorpalette {
  text1: #4c4c4c; /* Dark Liver */
  link1: #f7e811 /* Vivid Yellow */
  hover1: #88C34B; /* Dollar Bill */
  background1: #F9F4EF; /* Seashell */
  background2: #2c2e4c; /* Space Cadet */
  background3: #9a1918; /* Spartan Crimson */
  background4: #0f5c3c; /* Sacramento State Green */
}
