html, body {
  background: #ccc;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', arial, sans-serif;
}
html{
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
body {
  font-size: 1.4rem;
}
#wrapper {
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

/* --- Header --- */
#header div.container {
  background: #2c2e4c;
  height: 100vh;
  width: 170px;
  position: fixed;
  float: left;
  display: block;
  border-left: 2px #0f5c3c solid;
  border-right: 2px #0f5c3c solid;
  padding: 164px 0 28px 0;
}
#traka-logo {
  background: url(/img/traka_logo.png);
  height: 183px;
  width: 146px;
  position: absolute;
  top: 0;
  left: 78px;
  display: block;
  cursor: pointer;;
}
#nav-menu-container ul {
  padding: 0;
}
#nav-menu-container ul li a {
  color: #f7e811;
  padding: 3px 5px 3px 16px;
  text-decoration: none;
  display: block;
}
#nav-menu-container ul li:hover a {
  color: #fff;
}
#nav-menu-container ul li {
  background-position: bottom;
  background-repeat: repeat-x;
  line-height: 24px;
  list-style: none;
  background: url(/upload/nav_break_main.gif);
  background-position: bottom;
  background-repeat: repeat-x;
}
#nav-menu-container ul li.active {
  background: #9a1918;
}
#nav-menu-container ul li.active a {
  color: #ffffff;
}
#nav-menu-container ul li:hover {
  background: #0f5c3c;
}
#header .social-icons a {
  color: #fff;
}
#header .social-icons a:hover {
  color: #2c2e4c;
  background: #fff;
}

/* --- Main --- */

#main > div.container {
  background: #F9F4EF;
  min-height: 100vh;
  padding: 12px 70px 60px 70px;
  margin: 0 0 0 172px;
  font-size: 1.4rem;
  color: #4c4c4c;
}
#main .container img {
    max-width: 100%;
}
#main a {
  color: #74c126;
  text-decoration: none;
}
#main a:hover {
  text-decoration: underline;
}
#main h4 a {
  color: #4c4c4c;
  text-decoration: none;
}
#main h4 a:hover {
  color: #74c126;
  text-decoration: none;
}
#intro .intro-text {
  text-align: center;
}
#news .post {
  padding: 0px 0px 1px 0px;
  margin: 0px 0px 50px 0px;
  border-bottom: 1px dotted #4C4C4C;
  font-size: 1.4rem;
}
#news .post h4 {
  font-size: 2rem;
  text-decoration: none;
}
#news .archive-link {
  text-align: center;
}
#news .archive-link a {
  padding: 7px 13px;
  background: #2c2e4c;
  color: #fff;
  text-decoration: none;
  border: 1px solid #11593d;
  border-radius: 5px;
}
#news .archive-link a:hover {
  background: #11593d;
  text-decoration: none;
}
#page .post-title {
    font-size: 2.4rem;
}
/* --- Footer --- */
#footer {
  display: none;
}
