---
layout: default
---

<section id="intro">
  <div class="intro-text">
    <p>Wir halten zusammen,<br>wir ehren das Alte,<br>wir wagen das Neue!</p>
    <h3>Fallschirmjäger und Fernspäher rufen Dich!</h3>
    <p>Unser Leitwort:<br>Es gibt niemals eine Kameradschaft auf Zeit.<br>Sie währet ein Leben lang,<br>oder sie war keine echte.</p>
    <p>Bleibt Eurer Truppe treu<br>und werdet Mitglied<br>in unserer Traditionskameradschaft!</p>
    <img style="opacity:0.6; filter:alpha(opacity=60);" title="flieger" src="/upload/flieger.png" width="500" height="236" />
  </div>
</section>

<!--===== News (Blog Posts) =====-->
<section id="news" class="section-bg">
  <div class="container">
    <div class="row newsposts">
      {% for post in site.posts limit:5 %}
      <div class="col-lg-6">
        <div class="box wow fadeInLeft" onclick="location.href='{{ post.url }}';">
          {% if post.thumbnail %}
          <a class="thumbnail" href="{{ post.url }}"><div style="background-image:url({{ post.thumbnail }}), linear-gradient(rgba(54,59,64,0.9), rgba(54,98,115,0.9));"></div></a>
          {% endif %}
          <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <p class="post-excerpt">{{ post.excerpt }}</p>
          <p class="post-url"><a href="{{ post.url }}" class="read-more">weiterlesen</a></p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="text-center">
      <a class="" href="/archive">alle Beiträge</a>
    </div>
    </div>
</section>
