<!DOCTYPE html>
<html lang="de">
<head>
  {% include analytics.html %}
  {% include meta.html %}
  <!-- Favicons -->
  <link href="/img/traka_site_icon.png" rel="icon">
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">
<!--===== Header =====-->
  <header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#">Startseite</a></li>
          <li><a href="#">Über uns</a></li>
          <li><a href="#">Chronik</a></li>
          <li><a href="#">Veranstaltungen</a></li>
          <li><a href="#">Presseartikel</a></li>
          <li><a href="#">Monte Cassino</a></li>
          <li><a href="#">DMCV</a></li>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Aufnahmeantrag</a></li>
          <li><a href="#">Archiv</a></li>
          <li><a href="#">Impressum</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
<!--===== #header =====-->
<main id="main">
  <div id="container">
  {{ content }}
</div>
</main>
<!--===== Footer =====-->
  <footer id="footer">
    <div class="container">

    </div>
  </footer>
<!--===== #footer =====-->
</div>
</body>
</html>
