<!DOCTYPE html>
<html lang="de">
<head>
  {% include analytics.html %}
  {% include meta.html %}
  <!-- Favicons -->
  <link href="/img/traka_site_icon.png" rel="icon">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">
<!--===== Header =====-->
  <header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Startseite</a></li>
          <li><a href="/ueberuns/">Über uns</a></li>
          <li {% if page.Seitentitel="Chronik" %} class="active"{% endif %}><a href="/chronik/">Chronik</a></li>
          <li><a href="/veranstalungen/">Veranstaltungen</a></li>
          <li><a href="#">Presseartikel</a></li>
          <li><a href="/montecassino/">Monte Cassino</a></li>
          <li><a href="https://dmcv.de" target="_blank">DMCV</a></li>
          <li><a href="/kontakt/">Kontakt</a></li>
          <li><a href="/upload/2011/04/Aufnahmeantrag.pdf">Aufnahmeantrag</a></li>
          <li><a href="/archive/">Archiv</a></li>
          <li><a href="/impressum/">Impressum</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
<!--===== #header =====-->
<main id="main">
  <div class="container">
  {{ content }}
</div>
</main>
<!--===== Footer =====-->
  <footer id="footer">
    <div class="container">

    </div>
  </footer>
<!--===== #footer =====-->
</div>
</body>
</html>
